<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="webHttpBindingJsonP" crossDomainScriptAccessEnabled="true"></binding>
            </webHttpBinding>
        </bindings>
        <services>
            <service name="WcfJsonpService.ExampleJsonpService" behaviorConfiguration="Default">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/exampleJsonpService"></add>
                    </baseAddresses>
                </host>
                <endpoint address=""
                          binding="webHttpBinding"
                          bindingConfiguration="webHttpBindingJsonP"
                          contract="WcfJsonpService.IExampleJsonpService"></endpoint>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Default">
                    <serviceMetadata httpGetEnabled="true"></serviceMetadata>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
